<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meui.RomCtrl"
	android:sharedUserId="com.meui">

    <application
		android:name="com.meui.MeApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:configChanges="fontScale">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SSPref"/>
		<activity
            android:name=".About"/>
		<activity
            android:name=".RoundProgress"/>
		<activity
			android:name=".LockScreenPref"/>
		<activity
			android:name=".Crash"/>
		<activity
			android:name=".StatusBarColor"/>

		<provider    
			android:authorities="com.meui.RomCtrl"  
			android:name="com.meui.MeProvider"
			android:exported="true"/>
    </application>
	
	
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
