<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meui.RomCtrl">

    <application
        android:name="com.meui.MeApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screenshot"/>
        <activity
            android:name=".About"/>
        <activity
            android:name=".RoundProgress"/>
        <activity
            android:name=".Lockscreen"/>
        <activity
            android:name=".Crash"/>
        <activity
            android:name=".StatusBarColor"/>
        <activity
            android:name=".SmoothProgress"/>
		<activity
            android:name=".RecentDialog"/>

        <provider    
            android:authorities="com.meui.RomCtrl"  
            android:name="com.meui.MeProvider"
            android:exported="true"
            android:readPermission="com.meui.RomCtrl.READ"/>
		<provider
			android:authorities="com.meui.settings"
			android:name="com.meui.SettingsProvider"
			android:exported="true"/>
    </application>
    
    
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <permission android:name="com.meui.RomCtrl.READ" android:protectionLevel="normal"/>
</manifest>
